alias ls='ls -h --color=auto'
alias ll='ls -l'
alias la='ls -lha'
alias df='df -h'
alias du='du -ch'
alias free='free -h'
alias rm='rm -i'
alias wtr='curl wttr.in'
alias dirs='dirs -v -l'
alias cal='ncal -C'
