[include]
    path = ~/.gitconfig.personal
[core]
    editor = vim
    excludesfile = ~/.gitignore
    whitespace = fix,blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,cr-at-eol
    autocrlf = false
[init]
    defaultBranch = main
[web]
    browser = firefox
[credential]
    helper = cache --timeout=3600
[pull]
    rebase = true
[commit]
    gpgsign = true
[alias]
    tree = log --oneline --graph --decorate --all
    blaame = blame -w -C -C -C 
    staash = stash --all
    wdiff = diff --word-diff
[merge]
    tool = vimdiff
[gpg]
	format = ssh
